.User {
    float: left;
    margin: auto;
    padding: 16px;
    text-align: center;
    display: table;
}
.User_name {
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    color: #000;
    font-weight: 500;
}
img {
    border-radius: 50%;
    box-shadow: 0 2px 3px #ccc;
}

/* @media (min-width: 500px){
    .Person {
        width: 450px;
    }
} */