.User {
    float: left;
    padding: 10px;
    text-align: center;
    display: table;
    position: absolute;
    transform: translate(-50%,-50%);
    width: 16vmin;
    height: 16vmin;
    border-radius: 50%;
    font-size: 1.0rem;
}

.User_name {
    display: table-cell;
    vertical-align: middle;
    color: #000;
    font-weight: 500;
}

.UserPage {
    text-align: center;
    overflow: hidden;
    height: 100vh;
}

.div1 {
    float: left;
    position: absolute;
    width: 33vw;
    height: 100vh;
    background-color: #2F1982;
    box-shadow: 2px 0px 2px 0px #101010;
    z-index: -4;
    clip-path: polygon(0 0, 0 100%, 90% 100%, 100% 80%, 90% 60%, 90% 40%, 80% 20%, 90% 0);
}

.div2 {
    float: left;
    position: absolute;
    width: 78vw;
    height: 100vh;
    background-color: #1C0B4F;
    z-index: -5;
    clip-path: polygon(0 0, 0 100%, 95.8% 100%, 100% 80%, 95.8% 60%, 95.8% 40%, 91.6% 20%, 95.8% 0);
}

.div3 {
    float: left;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #120935;
    z-index: -6;
}
  
.reserve_on{
    position: absolute;
    background-color: #00000000;
    top: 18vh;
    left: 51vw;
    width: 42vw;
    height: 36vh;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.quit{
    position: absolute;
    background-color: #00000000;
    top: 82vh;
    left: 53vw;
    width: 42vw;
    height: 36vh;
    transform: translate(-50%,-50%);
    padding: 10px;
    z-index: 2;
}
.subtract{
    position: absolute;
    background-color: #00000000;
    top: 82vh;
    left: 53vw;
    width: 42vw;
    height: 36vh;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.reserve_off{
    display: none;
    position: absolute;
    background-color: #00000000;
    top: 50vh;
    left: 88vw;
    width: 24vw;
    height: 100vh;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.canvas{
    position: absolute ;
    top: 50vh;
    left: 15vw;
    transform: translate(-50%,-50%);
}
.center_box{
    position: absolute;
    top: 50vh;
    left: 52vw;
    width: 45vw;
    height: 20vh;
    transform: translate(-50%,-50%);
    padding: 2vh;
    border-radius: 1vw;
    background-color: #000;
}

.title{
    margin-top: 2vh;
    text-align: center;
    font-size: 0.7rem;
    color: #ffffff;
    font-weight: 700;
    z-index: 1;
}

.running_time{
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    color: #9B9B9B;
    font-weight: 700;
    z-index: 1;
}

.memo{
    position: relative;
    margin-top: 2vh;
}

input{
    -webkit-appearance: none;
    width: 80%;
    border: 0;
    font-family: inherit;
    padding: 1vh;
    height: 6vh;
    font-size: 0.7rem;
    font-weight: 500;
    border-bottom: 2px solid #C8CCD4;
    background: none;
    border-radius: 0;
    color: #ffffff;
    margin-left: 0px;
}
input::placeholder {
    color: #aaaaaa;
}

.inp{
    position: relative;
    margin: auto;
    width: 100%;
}
  
.border{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
}

.clap{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: block;
}

.clapp{
    margin: 50px;
}
.add{
    position: absolute;
    background-color: #00000000;
    width: 25vw;
    height: 100vh;
    padding: 10px;
    z-index: 2;
}
.message{
    width: 50vw;
    height: 17vh;
    border-radius: 16px;
    background-image: url( "img/message_bg.png" );
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 80vh;
    left: 52vw;
    transform: translate(-50%,-50%);
    padding-top: 14px;
    padding-left: 14px;
    padding-right: 14px;
}

.clap_emoticon{
    position: absolute;
}
.m_header{
    position: relative;
    float: left;
    width: 100%;
}
.saying {
    will-change: top;
}
.ok{
    position: relative;
    float: left;
}
.m_title{
    position: relative;
    padding-left: 7px;
    padding-top: 2px;
    font-size: 14px;
    font-weight: 600;
    float: left;
}
.m_now{
    position: relative;
    float: right;
    padding-top: 2px;
    font-size: 14px;
    font-weight: 600;
}
.m_content{
    position: relative;
    float: left;
    width: 100%;
    text-align: left;
    padding-top: 7px;
    font-size: 15px;
    font-weight: 500;
}

.load-3{
    position: absolute ;
    top: 32vh;
    left: 15vw;
    transform: translate(-50%,-50%);
}

.line {
    display: inline-block;
    margin: 0.15rem;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgb(164, 142, 243);
}

.load-3 .line:nth-last-child(1) {animation: loadingC 1s .3s linear infinite;}
.load-3 .line:nth-last-child(2) {animation: loadingC 1s .6s linear infinite;}
.load-3 .line:nth-last-child(3) {animation: loadingC 1s .9s linear infinite;}

@keyframes loadingC {
    0% {transform: translate(0,0);}
    50% {transform: translate(0,0.5rem);}
    100% {transform: translate(0,0);}
}